html {
  color-scheme: dark;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

iframe {
  width: 100%;
  border: none;
  overflow: hidden;
}

.hello-world-overlap {
  height: 40vh;
}

.gravityButtons {
  height: 25vh;
}

.backgroundAnime {
  height: 80vh;
}
